* {
  box-sizing: border-box;
}

.scroll {
  border: 1px solid #000;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: auto;
  background: #ebf2ff;
  width: 100%;
  height: 530px;
}

div.block {
  background: #c1aa74;
  border: 1px solid #000;
  border-radius: 20px;
  width: 240px;
  height: 210px;
  display: inline-block;
  box-shadow: inset 0px 0px 7px #000;
  padding: 20px;
  margin: 5px;
}